<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h1> Películas Nuevas</h1>
    </ion-col>
  </ion-row>
</ion-grid>


<app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>


<ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1> Cartelera </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1> Populares </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- poster -->
  <!-- <app-slideshow-poster [peliculas]="peliculasPopulares"></app-slideshow-poster> -->
  
  <!-- pares -->
  <app-slideshow-pares [peliculas]="peliculasPopulares" (cargarMas)="cargarMas()"></app-slideshow-pares>
  
  <!-- <ion-slides [options]="slidesOpts">
    <ion-slide *ngFor="let pelicula of peliculasRecientes">

      <ion-card>
        <img [src]="pelicula.backdrop_path | imagen">
      </ion-card>

    </ion-slide>
  </ion-slides> -->

</ion-content>

